{% extends 'todolist/main.html' %}

{% block content %}

<div class="header-bar">
        <div>
            <h1>Salam A3leykoum {{request.user|title}}</h1>
            <h3>Tu as <i>{{count}}</i> tâche{{count|pluralize:"s"}} non-terminée{{count|pluralize:"s"}}</h3>
        </div>
</div>

{% if request.user.is_authenticated %}
    <p></p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}

<h1>Accueil du site</h1>

<p><a href="{% url 'tasks' %}">Le Blog list</a></p>
<p><a href="">Le Blog contact</a></p>

{% endblock content %}