/* title, h1, font-family: 'Anton', sans-serif;
text p font-family: 'Crimson Text', serif; */

body{
    font-family: font-family: 'Crimson Text', serif;
    margin: 0;
    padding: 0;
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{
    width: 850px;
    height: 400px;
    margin: auto;
    background-color: white;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    border-radius: 5px;

}
h1, h2, h3, h4, h5, h6{
    font-family: 'Crimson Text', sans-serif;
}
a,p{
    color: #4b5156;
}